/* Global Styles */
    body,html {
    padding: 0;
    margin: 0;
    background: rgb(78,153,194);
    height: 100%;
    overflow: hidden;
    font-family: inconsolata;
    font-size: 16px;
    }

     @font-face {
    font-smooth: auto;
    font-family: inconsolata;
    src: url(Inconsolata_SemiExpanded-Bold.ttf);
}   

#bg {
    background: rgb(78,153,194);
    background: linear-gradient(30deg, rgba(78,153,194,1) 0%, rgba(78,153,194,1) 9%, rgba(36,75,110,1) 19%, rgba(36,75,110,1) 100%);
    height: 100%;
    
}

#gameFrame {
    border:0;
 }

#box {
    position: relative; 
    background-color: #244b6e;
    overflow: hidden;
    border-radius: 10px;
}


#handle {
    cursor: se-resize;
    right: 0px;
    border-bottom-right-radius: 10px;
    }

#fullscreen {
    left: 0px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.text {
    position:absolute;
    bottom: 0px;
    background-color: #386389;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #6bdcff;
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;    

}