/* Global Styles */
    body,html {
    padding: 0;
    margin: 0;
   /* background: #244b6e; */
   /* background: #0d1826; */
    background: black;
    overflow: hidden;
    }

    @font-face {
    font-smooth: auto;
    font-family: inconsolata;
    src: url(Inconsolata_SemiExpanded-Bold.ttf);
}
    
    #gameField, #scoreField {
    display: block;
    margin: auto;
    } 

    #gameField {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    }
